.saved-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
  gap: 25px;
  margin-top: 30px;
}

.saved-grid button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: crimson;
  color: white;
  border-radius: 8px;
}
